<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are the amazing Dev/Game tools that we sell:</h2>
    <ul>
      <% availableProducts.forEach(function(product) { %>
        <li><%= product.name %>, £<%=product.price%> - <%=product.category%> - <%=product.description%> 
        </li>
      <% }) %>
    </ul>
  </body>
</html>
